{% extends 'layout.html' %}

{% block title %}
    <title>Tricycleco - Ajout Conteneur</title>
{% endblock %}

{% block body %}
    <h1 class="titre">AJOUTER UN CONTENEUR</h1>
    <hr class="barre">
    {% if error %}
        <p><strong>Error:</strong> {{ error }}</p>
    {% endif %}

    <div>
        <div>
            <form class="formulaire" action="/conteneur/add" method="post">
                <div class="label">
                    <label class="sous-titre" for="id_centre_collecte">Centre de collecte</label>
                    <select class="input" id="id_centre_collecte" name="id_centre_collecte" style="width: 340px; height: 40px;" required>
                        <option value="" selected disabled>Sélectionnez un centre de collecte</option>
                        {% for centre_collecte in centres_collecte %}
                        <option value="{{ centre_collecte.id_centre_collecte }}">{{ centre_collecte.lieu_collecte }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="label">
                    <label class="sous-titre" for="volume_conteneur">Volume centre de collecte</label>
                    <input type="number" id="volume_conteneur" name="volume_conteneur" value="" required><br>
                </div>

                <div class="label">
                    <label class="sous-titre" for="reference_conteneur">Référence centre de collecte</label>
                    <input type="text" id="reference_conteneur" name="reference_conteneur" value="" required><br>
                </div>

                <div class="label">
                    <label class="sous-titre" for="id_type_dechet">Type de déchet</label>
                    <select class="input" id="id_type_dechet" name="id_type_dechet" style="width: 340px; height: 40px;" required>
                        <option value="" selected disabled>Sélectionnez un type de déchet</option>
                        {% for type_dechet_item in types_dechets %}
                        <option value="{{ type_dechet_item.id_type_dechet }}">{{ type_dechet_item.libelle_type_dechet }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="label">
                    <label class="sous-titre" for="id_centre_recyclage">Centre de recyclage</label>
                    <select class="input" id="id_centre_recyclage" name="id_centre_recyclage" style="width: 340px; height: 40px;" required>
                        <option value="" selected disabled>Sélectionnez un centre de recyclage</option>
                        {% for recyclage in recyclages %}
                        <option value="{{ recyclage.id_centre_recyclage }}">{{ recyclage.lieu_recyclage }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="label">
                    <a class="annuler" href="/conteneur/show">Annuler</a>
                    <input class="valider" type="submit" value="Créer" style="width: 100px; height: 40px;">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
