{% extends 'layout.html' %}

{% block title %}
    <title>Confirmation de suppression</title>
{% endblock %}

{% block body %}
    <div class="confirm-supp">
        <h1 class="contenu">Confirmation de suppression</h1>
        <p class="contenu">Voulez-vous vraiment supprimer le conteneur avec l'ID {{ conteneur.id_conteneur }} ?</p>
        <form class="contenu" method="POST" action="{{ url_for('confirm_delete_conteneur', id=conteneur.id_conteneur) }}">
            <button class="valider" type="submit">Confirmer</button>
            <a id="espace" class="annuler" href="{{ url_for('show_conteneur') }}">Annuler</a>
        </form>
    </div>
{% endblock %}
