{% extends 'layout.html' %}

{% block title %}
    <title>Confirmation de suppression</title>
{% endblock %}

{% block body %}
    <h1>Confirmation de suppression</h1>
    <p>Voulez-vous vraiment supprimer le conteneur avec l'ID {{ conteneur.id_conteneur }} ?</p>
    <form method="POST" action="{{ url_for('confirm_delete_conteneur', id=conteneur.id_conteneur) }}">
        <button type="submit">Confirmer</button>
        <a href="{{ url_for('show_conteneur') }}">Annuler</a>
    </form>
{% endblock %}
