{% extends 'layout.html' %}

{% block title %}
    <title>Tricycleco - État des conteneurs</title>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block body %}
    <body class="scrollable">
        <h1 class="titre">ETAT DES CONTENEURS</h1>
        <hr class="barre">
        <br> <br>

        <!-- Filtre par volume total -->
        <form class="filtre" method="post" action="{{ url_for('etat_conteneur') }}">
            <label for="min_volume_total">Volume total min :</label>
            <input type="number" name="min_volume_total" id="min_volume_total" min="0">

            <label for="max_volume_total">Volume total max :</label>
            <input type="number" name="max_volume_total" id="max_volume_total" min="0"><br><br><br>

            <button class="add" id="btn-filtre-volume" type="submit">Paramétrer par volume total</button>
        </form>


        <table id="tableau" class="tableau">
            <thead>
                <tr>
                    <th>Centre de collecte</th>
                    <th>Volume total</th>
                </tr>
            </thead>
            <tbody>
                {% for centre in centres %}
                    <tr>
                        <td class="colonne">{{ centre.lieu }}</td>
                        <td class="colonne">{{ centre.volume_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
