{% extends 'layout.html' %}

{% block title %}
    <title>État des collectes</title>
{% endblock %}

{% block body %}
    <body class="scrollable">
        <h1 class="titre">État des collectes</h1>
        <hr class="barre">
        <br> <br>

        <!-- Filtre par nombre de conteneurs -->
        <form class="filtre" method="post" action="{{ '/conteneur/etat/nombre_conteneurs' }}">
            <label for="min_nombre_conteneurs">Nombre de conteneurs min :</label>
            <input type="number" name="min_nombre_conteneurs" id="min_nombre_conteneurs" min="0">

            <label for="max_nombre_conteneurs">Nombre de conteneurs max :</label>
            <input type="number" name="max_nombre_conteneurs" id="max_nombre_conteneurs" min="0">

            <button class="add" id="btn-filtre-nombre" type="submit">Filtrer par nombre de conteneurs</button>
        </form>

        <!-- Filtre par volume total -->
        <form class="filtre" method="post" action="{{ '/conteneur/etat/volume_total' }}">
            <label for="min_volume_total">Volume total min :</label>
            <input type="number" name="min_volume_total" id="min_volume_total" min="0">

            <label for="max_volume_total">Volume total max :</label>
            <input type="number" name="max_volume_total" id="max_volume_total" min="0">

            <button class="add" id="btn-filtre-volume" type="submit">Filtrer par volume total</button>
        </form>

        <table id="tableau" class="tableau">
            <thead>
                <tr>
                    <th>Centre de collecte</th>
                    <th>Nombre de conteneurs</th>
                    <th>Volume total</th>
                </tr>
            </thead>
            <tbody>
                {% for centre in centres %}
                    <tr>
                        <td class="colonne">{{ centre.lieu }}</td>
                        <td class="colonne">{{ centre.nombre_conteneurs }}</td>
                        <td class="colonne">{{ centre.volume_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
{% endblock %}
