{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une collecte</title>
{% endblock %}

{% block body %}
    <h1>AJOUTER UNE COLLECTE</h1>
    <hr>
    {% if error %}
        <p><strong>Error:</strong> {{ error }}
    {% endif %}

    <div>
        <div>
            <form method="post" action="/collecte/add" >
                <fieldset>

                    <div>
                        <label for="quantite">Quantité collectée</label>
                        <input type="number" id="quantite" name="quantite"  value="" required/>
                    </div>

                    <div>
                        <label for="type">Type de déchet</label>
                        <select name="type" id="type" required>
                            {% for j in typeDechet %}
                                <option value="{{ j.id }}"
                                        {% if typeDechet is defined and j.id ==  typeDechet.id %}selected{% endif %}
                                ></option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="centre">Centre de collecte</label>
                        <select name="centre" id="centre" required>
                            {% for i in centreCollect %}
                                <option value="{{ i.id }}"
                                        {% if centre is defined and i.id ==  centre %}selected{% endif %}
                                ></option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <label for="tournee">Tournee</label>
                        <select name="tournee" id="tournee" required>
                            {% for k in tournee %}
                                <option value="{{ k.id }}"
                                        {% if tournee is defined and k.id ==  tournee %}selected{% endif %}
                                ></option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <a href="/collecte/show">Annuler</a>
                        <button type="submit">Ajouter</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}