{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une collecte</title>
{% endblock %}

{% block body %}
    <h1 class="titre">AJOUTER UNE COLLECTE</h1>
    <hr class="barre">
    {% if error %}
        <p><strong>Error:</strong> {{ error }}
    {% endif %}

    <div>
        <div>
            <form method="post" action="/collecte/add" >
                <fieldset class="formulaire">

                    <div class="label">
                        <label for="quantite">Quantité collectée (kg)</label>
                        <input type="number" id="quantite" name="quantite"  value="" required/>
                    </div>

                    <div class="label">
                        <label class="label" for="type">Type de déchet</label>
                        <select name="type" id="type" required>
                            <option value="" selected disabled>Choisissez le type de déchet</option>
                            {% for j in typeDechet %}
                                <option value="{{ j.id }}">{{ j.libelle }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="label">
                        <label for="centre">Centre de collecte</label>
                        <select name="centre" id="centre" required>
                            <option value="" selected disabled>Choisissez le centre de collecte</option>
                            {% for i in centreCollect %}
                                <option value="{{ i.id }}">{{ i.lieu }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="label">
                        <label for="tournee">Tournee</label>
                        <select name="tournee" id="tournee" required>
                            <option value="" selected disabled>Choisissez la tournée</option>
                            {% for k in tournee %}
                                <option value="{{ k.id }}">{{ k.date }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="label">
                        <a class="annuler" href="/collecte/show">Annuler</a>
                        <button class="valider" type="submit">Ajouter</button>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}