{% extends 'layout.html' %}

{% block title %}
    <title>supprimer les collectes</title>
{% endblock %}

{% block body %}
    <h1>Confirmation de suppression</h1>
    <p>Voulez-vous vraiment supprimer la collecte avec les caractéristiques suivantes :</p>
    <ul>
        <li><strong>ID :</strong> {{ collecte.id_collecte }}</li>
        <li><strong>Tournee :</strong> {{ collecte.id_tournee }}</li>
        <li><strong>Quantité :</strong> {{ collecte.quantite_dechet_collecte }}</li>
        <li><strong>Centre de collecte :</strong> {{ collecte.id_centre_collecte }}</li>
        <li><strong>Type de déchet :</strong> {{ collecte.id_type_dechet }}</li>
    </ul>
    <form method="POST" action="{{ url_for('confirm_delete_collecte', id=collecte.id_collecte) }}">
        <button type="submit">Confirmer</button>
        <a href="{{ url_for('show_collecte') }}">Annuler</a>
    </form>
{% endblock %}