{% extends 'layout.html' %}

{% block title %}
    <title>etat des collectes</title>
{% endblock %}

{% block body %}
<body class="scrollable">
<div class="etat">
    <div class="image">
    <img src="" alt="">
    </div>
    <div class="table">
    <table class="tabetat" border="1">
    <tbody>
    <tr>
    <td>id_tournee</td>
    <td></td>
    </tr>
    <tr>
    <td>date_tournee</td>
    <td></td>
    </tr>
    <tr>
    <td>lieu_recyclage</td>
    <td></td>
    </tr>
    <tr>
    <td>id_camion</td>
    <td></td>
    </tr>
    <tr>
    <td>temps(minutes)</td>
    <td></td>
    </tr>
    </tbody>
    </table>
    </div>
    <div class="tour">
    <div><span><u>Tournee N°1</u></span></div>
    <div>
    <ul>
    <li>Date du tournee : 2023-02-01</li>
    <li>Duree : 40 minutes</li>
    <li> Employé : Jessica </li>
    </ul>
    </div>
    <div><span><u>Tournee N°2</u></span></div>
    <div>
    <ul>
    <li>Date de tournee : 2023-03-01</li>
    <li>Duree : 45 minutes</li>
    <li> Employé :  Jane</li>
    </ul>
    </div>
    </div>
    <div class="autre">

    </div>
    </div>

</body>
{% endblock %}