<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>État de la collecte</title>
</head>
<body>
    <h1>État de la collecte</h1>

    <table>
        <thead>
            <tr>
                <th>Type de déchet</th>
                <th>Quantité totale collectée</th>
            </tr>
        </thead>
        <tbody>
            {% for a in quantiteTotType %}
                <tr>
                    <td>{{ a.type }}</td>
                    <td>{{ a.quantite_total_type }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Centre de collecte</th>
                <th>Quantité totale collectée</th>
            </tr>
        </thead>
        <tbody>
            {% for b in quantiteTotCentre %}
                <tr>
                    <td>{{ b.lieu }}</td>
                    <td>{{ b.quantite_total_centre }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>