{% extends 'layout.html' %}

{% block title %}
    <title>afficher les collectes</title>
{% endblock %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


{% block body %}
    <body class="scrollable">
        <h1 class="titre">État de la collecte</h1>
        <hr class="barre">
        <br> <br>

        <form class="filtre" method="post">
            <label for="min_quantite">Quantité minimale :</label>
            <input type="number" name="min_quantite" id="min_quantite" min="0">

            <label id="quantite-max" for="max_quantite">Quantité maximale :</label>
            <input type="number" name="max_quantite" id="max_quantite" min="0">

            <button class="add" id="btn-filtre" type="submit">Paramétrer</button>
        </form>


        <table id="tableau-1" class="tableau">
            <thead>
                <tr>
                    <th>Type de déchet</th>
                    <th>Quantité totale collectée</th>
                </tr>
            </thead>
            <tbody>
                {% for a in quantiteTotType %}
                    <tr>
                        <td class="colonne">{{ a.type }}</td>
                        <td class="colonne">{{ a.quantite_total_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table id="tableau-2" class="tableau">
            <thead>
                <tr>
                    <th>Centre de collecte</th>
                    <th>Quantité totale collectée</th>
                </tr>
            </thead>
            <tbody>
                {% for b in quantiteTotCentre %}
                    <tr>
                        <td class="colonne">{{ b.lieu }}</td>
                        <td class="colonne">{{ b.quantite_total_centre }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </body>
{% endblock %}