{% extends 'layout.html' %}

{% block title %}
    <title>afficher les collectes</title>
{% endblock %}

{% block body %}
<body class="scrollable">

{% with messages = get_flashed_messages(with_categories=true) %}
{% endwith %}


    <h1 class="titre">LES COLLECTES</h1>
    <hr class="barre">
    <br><br>

    <div>
        <a href="/collecte/add">
            <button class="add">Ajouter une collecte</button>
        </a>
        <table class="tableau">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">quantite (kg)</th>
                    <th scope="col">type de déchet</th>
                    <th scope="col">centre de collecte</th>
                    <th scope="col">tournée</th>
                </tr>
            </thead>
            <tbody>
            {% if collecte | length >= 1 %}
                {% for type in collecte %}
                   <tr class="ligne">
                       <td class="colonne">{{ type.id }}</td>
                       <td class="colonne">{{ type.quantite }}</td>
                       <td class="colonne">{% for j in typeDechet %}
                             {% if j.id == type.type %}
                               {{ j.libelle }} ({{j.id}})
                             {% endif %}
                           {% endfor %}</td>

                       <td class="colonne">{% for i in centreCollect %}
                             {% if i.id == type.centre %}
                               {{ i.lieu }} ({{i.id}})
                             {% endif %}
                           {% endfor %}</td>

                       <td class="colonne">{% for k in tournee %}
                             {% if k.id == type.tournee %}
                               {{ k.date }} ({{k.id}})
                             {% endif %}
                           {% endfor %}</td>

                       <td class="colonne">
                          <a id="btn1" class="éditer" href="/collecte/edit?id={{ type.id }}&amp;param2={{type.quantite}}">Editer</a>&nbsp;
                          <a id="btn2" class="supprimer" href="/collecte/delete?id={{ type.id }}&amp;libelle={{ type.quantite }}">Supprimer</a>
                       </td>
                   </tr>
                {% endfor %}
            {% else %}
                    <tr>
                          <td>
                              Aucune collecte
                          </td>
                   </tr>
            {% endif %}
            </tbody>
        </table>
    </div>
    </body>
{% endblock %}