body{
    font-family: "Avenir-Medium", sans-serif;
    overflow: hidden;
    background-color: black;
    color: white;
    text-decoration: none;
}

body.scrollable {
    overflow: auto;
}

html{
    scroll-behavior: smooth;
}
.table {
    top: 20px;
    left: 100px;
    width: 80%;
    margin: auto;
    margin-top: 100px;

    background-color: rgb(231, 225, 225);
     border-radius: 4px;
    color: black;

}
.tabl{
    top: 10px;
    left: 80px;
    width: 70%;
    margin: auto;
    margin-top: 10px;

    background-color: rgb(231, 225, 225);
     border-radius: 4px;
    color: black;


}

.table,th,td{

    padding: 10px;
    font-style: normal;
    font-weight: 500;
     color: black;

}
.table td a{
    margin-right: 21px;
    padding: 7px;
    border: 1px solid ;
    border-radius: 5px;
}

h2 {
 font-size: 1rem;

 margin-top: 15px;
 text-align: center;
 padding: 10px;

 color: white;
}
h1{
    font-size: 1.5rem;
 margin-top: 50px;
 margin-left: 30px;
 padding: 10px;
 color: white;

}


*{
    list-style-type: none;
    text-decoration: none;

}



form{
   width: 900px;
    margin-right: auto;
    margin-left: auto;

}



.flashes {
    padding: 5px;
    margin-top: 50px;
}

.alert-warning {
    background-color: #d50b00;
    margin-top: 40px;
}
.alert-success {
    background-color: darkturquoise;
   margin-top: 40px;
}
select{
    width: 50px;
}
.formule input{
    border-radius: 8px;
    padding: 15px;
}
.button {
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: black;
    transition: all 500ms;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    outline: 2px solid white;
    opacity: 0.6;
    width: fit-content;
  }

.button:hover {
    color: black;
    outline: 2px solid white;
    box-shadow: 1px 1px 8px 4px white;
    opacity: 1;
  }





@keyframes clignoter {
        0% { opacity: 1; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }






.add{
   position: absolute;
    top: 150px;
    left: 30px;
    border: 1px solid;
    padding: 9px;
    border-radius: 10px;
    background-color:rgb(48, 212, 48) ;
    color: rgb(12, 10, 10);
}

.colonne{
    text-align: center;
}

.ligne:hover{
    background-color: lightgrey;
}

.titre{
    text-align: center;
}

.formule{
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    background-color: white;
    color: black;
    width: 50%;
    height: auto;
    border-radius: 10px;
    text-align: center;
}
button .valider{
    border-radius: 5px;
    border: black;
    background-color: limegreen;
    color: white;
    margin-top: 20px;
    padding: 9px;

}

.annuler{
    border-radius: 5px;
    border: black;
    background-color: red;
    color: white;
    margin-top: 20px;
    padding: 5px;
}

.editer{
    border-radius: 5px;
    border: black;

    color: white;
    padding: 5px;
    text-decoration: none;
}





.Filtrer{
    border-radius: 5px;
    border: black;
    background-color: limegreen;
    color: white;
    margin-top: 20px;
    padding: 9px;

}
.annule{
     border-radius: 5px;
    border: black;
    background-color: red;
    color: white;
    margin-top: 20px;
    padding: 5px;

}

.barre{
    width: 80px;
}