*{
    list-style-type: none;
    text-decoration: none;
    
}

.tableto{
    position: absolute;
    top: 100px;
    left: 100px;
    width: 80%;
    margin: 200px auto;
    background-color: rgb(231, 225, 225);
     background-color: white;
     border-radius: 4px;
    color: black;


}
.Annula{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    color: rgb(12, 10, 10);
    margin-left: 18px;
    margin-bottom: 5px;
    align-items: center;

}
.tableto td:hover{
background-color: rgb(196, 199, 201);
}

.tableto th,td{
    
    padding: 10px;
    font-style: normal;
    font-weight: 500;
     color: black;

}

.tableto td a{
    margin-right: 21px;
    padding: 7px;
    border: 1px solid ;
    border-radius: 5px;
}

.tableto td a.edit{
    background-color: rgb(48, 212, 48);
    color: rgb(12, 10, 10);
}
.tableto td a.del{
    background-color: red;
    color: rgb(12, 10, 10);

}

form.formu{
    width: 900px;
    margin-top: 130px;
    margin-right: 80px;
    margin-left: auto;
    
    
}
.formu .formulaire{
    border-radius: 10px;
    background-color: rgb(243, 239, 234);
font-size: 1.2rem;
  font-weight: 300;

  position: absolute;
  left: 550px;
}

.formu .formulaire input{
    border-radius: 7px;
    padding: 5px;
}
.formu .formulaire .sub{
    margin-top: 5px;
    background-color:rgb(48, 212, 48) ;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.1rem;
    color: rgb(12, 10, 10);
}
.formu .formulaire .Annul{
    margin-top: 5px;
    background-color: red;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 1.1rem;
    color: rgb(12, 10, 10);
}

a.add{
    position: absolute;
    top: 150px;
    left: 30px;
    border: 1px solid;
    padding: 9px;
    border-radius: 10px;
    background-color:rgb(48, 212, 48) ;
    color: rgb(12, 10, 10);
}


div strong{
    position: absolute;
    top: 80px;
    left: 100px;
    padding: 10px;


    font-weight: bold;
    border-radius: 7px;
    font-size: 1.4rem;
}


.alert-success{


margin-top: 40px;
padding: 10px;
border-radius: 5px;
font-weight: bold;
    border-radius: 7px;
    font-size: 1.4rem;
}



