<nav class="navbar dark">
      <div class="nav">
          <ul class="nav_ul_link">
              <li id="page-actuelle">
                  <a class="active"  href="/">Tricycleco</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Employés (Awa)</a>
                  <div class="dropdown-content">
                      <a class="noir" href="/employe/show">Afficher les employés (CRUD) </a><hr>
                      <a class="noir" href="/employe/etat">Etat : nb employes/camions</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Conteneurs (Arthur)</a>
                  <div class="dropdown-content">
                      <a class="noir" href="/conteneur/show">Afficher les Conteneurs (CRUD)  </a><hr>
                      <a class="noir" href="/conteneur/etat">Etat : nb conteneurs/centre de collecte , volume tot/centre de collecte</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Tournées (Ibrahima)</a>
                  <div class="dropdown-content">
                      <a class="noir" href="/Tournee/show">Afficher les Tournées(CRUD) </a><hr>
                      <a class="noir" href="/Tournee/etat">Etat : tournee/centre de recyclage</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Collectes (Matheo)</a>
                  <div class="dropdown-content">
                      <a class="noir" href="/collecte/show">Afficher les Collectes (CRUD) </a><hr>
                      <a class="noir" href="/collecte/etat">Etat : quantité tot/type , quantité tot/centre</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>

