<nav class="navbar dark">
      <div class="nav">
          <ul class="nav_ul_link">
              <li id="page-actuelle">
                  <a class="active"  href="/">Tricycleco</a>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Employés (Awa)</a>
                  <div class="dropdown-content">
                      <a href="/employe/show">Afficher les employés (CRUD) </a><hr>
                      <a href="/employe/etat">Etat (mets ce que tu veux)</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Conteneurs (Arthur)</a>
                  <div class="dropdown-content">
                      <a href="/conteneur/show">Afficher les Conteneurs (CRUD)  </a><hr>
                      <a href="/conteneur/etat">Etat (mets ce que tu veux)</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Tournées (Ibrahima)</a>
                  <div class="dropdown-content">
                      <a href="/Tournee/show">Afficher les Tournées(CRUD) </a><hr>
                      <a href="/Tournee/etat">Etat (mets ce que tu veux)</a>
                  </div>
              </li>
              <li class="dropdown">
                  <a href="#" class="dropbtn">Collectes (Matheo)</a>
                  <div class="dropdown-content">
                      <a href="/collecte/show">Afficher les Collectes (CRUD) </a><hr>
                      <a href="/collecte/etat">Etat (mets ce que tu veux)</a>
                  </div>
              </li>
          </ul>
      </div>
  </nav>

