<nav>
    <div class="nav">
        <ul class="nav-button">
            <li id="page-actuelle">
                <a href="/">Tricycleco</a>
            </li>
            <li id="autre-page1">
                <a href="/employe/show">Employés(Awa)</a>
            </li>
            <li id="autre-page2">
                <a href="/conteneur/show">Conteneurs(Arthur)</a>
            </li>
            <li id="autre-page3">
                <a href="/tournee/show">Tournées(Ibrahima)</a>
            </li>
            <li id="autre-page4">
                <a href="/collecte/show">Collectes(Matheo)</a>
            </li>
        </ul>
    </div>
</nav>
