{% extends 'layout.html' %}
        {% block title %}
        <link rel="stylesheet" href="../../static/employestyles.css">
            <title>ajouter un employe</title>
        {% endblock %}

        {% block body %}
      {% if error %}
        <p class=error><strong>Error:</strong> {{ error }}
      {% endif %}
          <form method="post" action="/employe/add" >
                <fieldset class="formulaire">
                    <label for="numero_tel_employe">numero telephone</label><br>
                    <input id="numero_tel_employe" type="text" name="numero_tel_employe" size="18" value="" placeholder="Saisir le numero de telephone de l'employe"><br>

                    <label for="nom_Employe">nom</label><br>
                    <input id="nom_Employe" type="text" name="nom_employe" size="18" value="" placeholder="Saisir le nom du joueur"><br>

                    <label for="prenom_employe">prénom</label><br>
                    <input id="prenom_employe" type="text" name="prenom_employe" size="18" value="" placeholder="Saisir le prenom du joueur"><br>

                    <label for="salaire_employe">salaire</label><br>
                    <input id="salaire_employe" type="number" name="salaire_employe" size="18" value="" placeholder="Saisir le salaire de l'employe"><br>

                    <label for="adresse_employe">adresse</label><br>
                    <input id="adresse_employe" type="text" name="adresse_employe" size="18" value="" placeholder="saisir l'adresse de l'employe"><br>
                     <label for="id_camion">id_camion :</label><br>
                    <select id="id_camion" name="id_camion" style="width: 340px; height: 40px;" required>
                    <option value="">sélectionne l'id du camion</option>
                      {% for camion in camions %}
                   <option value=" {{camion.id_camion}}"> {{camion.id_camion}}</option>
                     {% endfor %}
                    </select>
                    <br>
                     <div>
                        <a href="/employe/show">
                            <button class="annuler">Annuler</button>
                        </a>
                        <button class="valider" type="submit">Ajouter</button>
                    </div>
                </fieldset>
          </form>
        {% endblock %}