
{% extends 'layout.html' %}

        {% block title %}
    <link rel="stylesheet" href="../../static/employestyles.css">
            <title>Afficher les employes</title>
     {% endblock %}

   {% block body %}
       <body class="scrollable">



            {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
            {% endif %}

            <h1>Etats</h1>

            <form method="get" action="/employe/etat">
                <p><strong>Le nombre de clients ayant pour un id_camion donne : </strong>{{ nombre_employe.id_camion }} </p>
                <p><strong>Le salaire moyen des employes : </strong>{{ salaire_moyen.salaire_employe }}€ </p>
                  <h2>Id Camion</h2><br>
                                    <input type="checkbox" value="1" name="filter_items">1<br>

                                    <input type="checkbox" value="2" name="filter_items">2<br>

                                    <input type="checkbox" value="3" name="filter_items">3<br>


                                     <br>
                                     <div>
                                        <a class="annule" href="/employe/show">Annuler</a>
                                        <button class="Filtrer" type="submit">Filtrer</button>
                                    </div>
             </form>
               <h2>Employés ayant le même id_camion</h2>
             <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>numero de telephone</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>Salaire</th>
                    <th>Adresse</th>
                    <th>id_camion</th>
                </tr>
            </thead>
            <tbody>
                {% if nombre_employe | length >= 1 %}
                    {% for Employe in nombre_employe %}
                        <tr>
                            <td>{{ Employe.id_employe }}</td>
                            <td>{{ Employe.numero_telephone_employe }}</td>
                            <td>{{ Employe.nom_employe }}</td>
                            <td>{{ Employe.prenom_employe }}</td>
                            <td>{{ Employe.salaire_employe }}</td>
                            <td>{{ Employe.adresse_employe }}</td>
                            <td>{{ Employe.id_camion }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>
                            pas d'état
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>

                <h2>Salaire moyen</h2>
                <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>salaire_moyen</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in salaire_moyen %}
                       <tr>
                              <td>{{ ligne.salaire_moyen }}</td>
                       </tr>
                    {% endfor %}

                </tbody>
                </table>
      </body>
{% endblock %}