
{% extends 'layout.html' %}

        {% block title %}
    <link rel="stylesheet" href="../../static/employestyles.css">
            <title>Afficher les employes</title>
     {% endblock %}

   {% block body %}
       <body class="scrollable">



                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}

                <h1>Etats</h1>

                <form method="get" action="/employe/etat">


        <h2>Nombre employes par id_camion</h2>
                 <table class="tabl">
                <thead class="thead-dark">
                    <tr>
                        <th>id_camion</th>
                        <th>nombre d'employe</th>

                    </tr>
                </thead>
                <tbody>
                        {% for Employe in nombre_employe %}
                            <tr>
                                <td>{{ Employe.id_camion }}</td>
                                <td>{{ Employe.nombre_employe }}</td>

                            </tr>
                        {% endfor %}


                </tbody>
            </table>
                        <h2>Salaire total</h2>
                     <table class="tabl">
                    <thead class="thead-dark">
                        <tr>
                            <th>Montant total des salaires</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in montant_total_salaires %}
                           <tr>
                                  <td>{{ ligne.montant_total_salaires}}€</td>
                           </tr>
                        {% endfor %}

                    </tbody>
                     </table>
                     <h2>Salaire Max</h2>
                    <table class="tabl">
                    <thead class="thead-dark">
                        <tr>
                            <th>salaire Max</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in salaire_max %}
                           <tr>
                                  <td>{{ ligne.salaire_max }}€</td>
                           </tr>
                        {% endfor %}

                    </tbody>
                    </table>

                    <h2>Moyenne des salaires</h2>
                    <table class="tabl">
                    <thead class="thead-dark">
                        <tr>
                            <th>salaire_moyen</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ligne in salaire_moyen %}
                           <tr>
                                  <td>{{ ligne.salaire_moyen }}€</td>
                           </tr>
                        {% endfor %}

                    </tbody>
                    </table>
                </form>
      </body>
{% endblock %}