{% extends 'layout.html' %}

        {% block title %}
    <link rel="stylesheet" href="../../static/employestyles.css">
            <title>Afficher les employes</title>
        {% endblock %}

   {% block body %}
        <h1>LES EMPLOYES</h1>
       {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for categorie, message in messages %}
            <div role="alert" class="alert {% if 'alert-warning' in categorie %}alert-danger{% endif %}{% if 'alert-success' in categorie %}alert-success{% endif %}{% if 'alert-info' in categorie %}alert-info{% endif %}">
                . <strong>{{ message }}</strong>
            </div>
        {% endfor %}
     {% endif %}
    {% endwith %}

        <a class="add" href="/employe/add">ajouter un employe</a>
        <br>
        <br>


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>numero de telephone</th>
                    <th>nom</th>
                    <th>prenom</th>
                    <th>Salaire</th>
                    <th>Adresse</th>
                    <th>id_camion</th>
                    <th>operations</th>
                </tr>
            </thead>
            <tbody>
                {% if Employe | length >= 1 %}
                    {% for Employe in employes %}
                        <tr>
                              <td>{{ Employe.id_employe }}</td>
                              <td>{{ Employe.numero_telephone_employe }}</td>
                              <td>{{ Employe.nom_employe }}</td>
                              <td>{{ Employe.prenom_employe}}</td>
                              <td>{{ Employe.salaire_employe }}</td>
                              <td>{{ Employe.adresse_employe }}</td>
                              <td>{{ Employe.id_camion }}</td>

                              <td>
                                  <a id="btn1" class="editer" href="/employe/edit?id={{ Employe.id_employe }}param2={{Employe.nom_employe}}">editer</a>
                                  <a id="btn2" class="supprimer" href="/employe/delete?id={{ Employe.id_employe }}" >supprimer</a>
                              </td>
                       </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                              <td>
                                  pas d'employe
                              </td>
                       </tr>
                {% endif %}
            </tbody>
        </table>
{% endblock %}